{%extends "layout.html"%}
{%block title%}
	Nissan
{%endblock%}
{%block body%}
	<h1>
  		Nissan
  		<small class="text-muted">Used Car Browser</small>
	</h1>
	<h3>{{marca}}, {{modelo}}, {{combustible}}</h3>
	<table class="table">
	  <thead>
	    <tr>
	      <th scope="col">id</th>
	      <th scope="col">Vehicle</th>
	      <th scope="col">Brand</th>
	      <th scope="col">Model</th>
	      <th scope="col">Grade</th>
	      <th scope="col">Drive wheels</th>
	      <th scope="col">Price</th>
	      <th scope="col">Registration date</th>
	      <th scope="col">Fuel</th>
	      <th scope="col">Mileage</th>
	      <th scope="col">Body type</th>
	      <th scope="col">Transmission</th>
	      <th scope="col">Horse-power</th>
	      <th scope="col">Warranty</th>
	      <th scope="col">Eco-label</th>
	      <th scope="col">Months</th>
	    </tr>
	  </thead>
	  <tbody>
	    {%for result in results%}
	    	<tr>
	    		<td>{{result.vehicle_id}}</td>
	    		<td>{{result.vehiculo}}</td>
	    		<td>{{result.marca}}</td>
	    		<td>{{result.modelo}}</td>
	    		<td>{{result.acabado}}</td>
	    		<td>{{result.traccion}}</td>
	    		<td>{{result.precio}}</td>
	    		<td>{{result.fecha_matriculacion}}</td>
	    		<td>{{result.combustible}}</td>
	    		<td>{{result.km}}</td>
	    		<td>{{result.carroceria}}</td>
	    		<td>{{result.cambio}}</td>
	    		<td>{{result.potencia}}</td>
	    		<td>{{result.garantia}}</td>
	    		<td>{{result.distintivo_ambiental}}</td>
	    		<td>{{result.meses}}</td>
	    	</tr>
	    {%endfor%}
	  </tbody>
	</table>
	<form action="{{url_for('index')}}" method="post">
		<button class = "btn btn-primary">Back</button>
	</form>
{%endblock%}