{%extends "layout.html"%}
{%block title%}
	Nissan
{%endblock%}
{%block body%}
	<h1>
  		Nissan
  		<small class="text-muted">Used Car Browser</small>
	</h1>
	<h3>{{marca}}, {{modelo}}, {{combustible}}</h3>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
	<table class="table">
	  <thead>
	    <tr>
	      <th scope="col">id</th>
	      <th scope="col">Vehicle</th>
	      <th scope="col">Brand</th>
	      <th scope="col">Model</th>
	      <th scope="col">Grade</th>
	      <th scope="col">Drive wheels</th>
	      <th scope="col">Price</th>
	      <th scope="col">Registration date</th>
	      <th scope="col">Fuel</th>
	      <th scope="col">Mileage</th>
	      <th scope="col">Body type</th>
	      <th scope="col">Transmission</th>
	      <th scope="col">Horse-power</th>
	      <th scope="col">Warranty</th>
	      <th scope="col">Eco-label</th>
	      <th scope="col">Months</th>
	    </tr>
	  </thead>
	  <tbody>
	    {%for result in results%}
	    	<tr>
	    		<td>{{result.id}}</td>
	    		<td>{{result.vehicle}}</td>
	    		<td>{{result.brand}}</td>
	    		<td>{{result.model}}</td>
	    		<td>{{result.grade}}</td>
	    		<td>{{result.drive}}</td>
	    		<td>{{result.price}}</td>
	    		<td>{{result.registration_date}}</td>
	    		<td>{{result.fuel}}</td>
	    		<td>{{result.mileage}}</td>
	    		<td>{{result.body_type}}</td>
	    		<td>{{result.transmission}}</td>
	    		<td>{{result.horse_power}}</td>
	    		<td>{{result.warranty}}</td>
	    		<td>{{result.eco_label}}</td>
	    		<td>{{result.months}}</td>
	    	</tr>
	    {%endfor%}
	  </tbody>
	</table>
	<canvas id="myChart" width="1112" height="400"></canvas>
	<script>
		// Global parameters:
		// do not resize the chart canvas when its container does (keep at 600x400px)
		Chart.defaults.global.responsive = false;

		// get chart canvas
		var ctx = document.getElementById("myChart").getContext("2d");

		// create the chart using the chart canvas
		var scatterChart = new Chart(ctx, {
			type: 'scatter',
			data: {
				datasets: [{
					pointBorderColor: "rgba(0, 0, 0, 0.6)",
			      pointBackgroundColor: "rgba(0, 0, 0, 0.6)",
			      pointBorderWidth: 1,
			      pointHoverRadius: 5,
			      pointHoverBackgroundColor: "rgba(0, 0, 0, 0.9)",
			      pointHoverBorderColor: "rgba(255, 0, 0, 0.9)",
			      pointHoverBorderWidth: 3,
			      pointRadius: 3,
			      pointHitRadius: 10,
			      data: [
			      	{% for result in results %}
			      	{
							x:
			            	{{result.months}},
							y:
			            	{{result.price}}
			         },
			         {% endfor %}
					]
			   }]
			},
			options: {
			   scales: {
			      xAxes: [{
			      	scaleLabel: {
            			display: true,
            			labelString: 'Months'
            		},
			         type: 'linear',
			         position: 'bottom',
			         gridLines: { display: false, drawBorder: true }
			      }],
			      yAxes: [{
			      	scaleLabel: {
            			display: true,
            			labelString: 'Price'
            		},
			      	type: 'linear',
			         position: 'left',
			         gridLines: { display: false, drawBorder: true }
			      }]
			   },
            title: {
                display: true,
                text: 'Price vs Months'
            },
            legend: {
            	display: false,
				}
			}	
		})	
  	</script>	
	<form action="{{url_for('index')}}" method="post">
		<button class="btn btn-default">Back</button>
	</form>
{%endblock%}